<h3 class="time-picker">Times open on Thu, Mar 20, 2014</h3>

<table class="table time-picker">
<!-- 	<tr>
		<td class="time-selection closed">8 AM</td>
	</tr>
 -->	<tr>
		<td class="time-selection open bg-info">9 AM</td>
	</tr>
	<tr>
		<td class="time-selection open bg-info">10 AM</td>
	</tr>
<!-- 	<tr>
		<td class="time-selection closed">11 AM</td>
	</tr>
 --><!-- 	<tr>
		<td class="time-selection closed">12 PM</td>
	</tr>
 -->	<tr>
 <td class="time-selection open bg-info"><a href="/appointment-confirm">1 PM</a></td>
	</tr>
<!-- 	<tr>
		<td class="time-selection closed">2 PM</td>
	</tr>
 -->	<tr>
		<td class="time-selection open bg-info">3 PM</td>
	</tr>
<!-- 	<tr>
		<td class="time-selection closed">4 PM</td>
	</tr>
 --><!-- 	<tr>
		<td class="time-selection closed">5 PM</td>
	</tr>
 --></table>

<a href="/appointment-view-unpopulated" class="btn btn-default btn-cancel" class="cancel">Cancel</a>
