<div class="calendar">

    <div id="cal-header">
        <span class="left"><a href="#">&laquo;</a></span>
       	<span class="center">March 2014</span>
        <span class="right"><a href="#">&raquo;</a></span>
    </div>
    <table class="table-bordered" width="100%">
        <thead>
            <tr>
                <td>S</td>
                <td>M</td>
                <td>T</td>
                <td>W</td>
                <td>Th</td>
                <td>F</td>
                <td>S</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="gray">23</td>
                <td class="gray">24</td>
                <td class="gray">25</td>
                <td class="gray">26</td>
                <td class="gray">27</td>
                <td class="gray">28</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td class="bg-info">8</td>
            </tr>
            <tr>
                <td class="bg-info">9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
            </tr>
            <tr>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td class="open bg-info"><a href="/appointment-picktime">20</a>
                </td>
                <td>21</td>
                <td>22</td>
            </tr>
            <tr>
                <td>23</td>
                <td class="bg-info">24</td>
                <td class="bg-info">25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
            </tr>
            <tr>
                <td>30</td>
                <td class="bg-info">31</td>
                <td class="gray">1</td>
                <td class="gray">2</td>
                <td class="gray bg-info">3</td>
                <td class="gray bg-info">4</td>
                <td class="gray">5</td>
            </tr>
        </tbody>
    </table>
    <div class="cal-key" id="available">Available</div>
    <div class="cal-key" id="unavailable">Unavailable</div>
</div>
<a href="/appointment-noupcoming" class="btn btn-default btn-cancel" class="cancel">Cancel</a>
