Use a date picker here...
<div id="time-picker">Fri, Mar 6 2014</div>
<div id="time-picker">
	<div class="time-selection">8 AM</div>
	<div class="time-selection open">9 AM</div>
	<div class="time-selection open">10 AM</div>
	<div class="time-selection">11 AM</div>
	<div class="time-selection">12 PM</div>
	<div class="time-selection open">1 PM</div>
	<div class="time-selection">2 PM</div>
	<div class="time-selection open">3 PM</div>
	<div class="time-selection">4 PM</div>
	<div class="time-selection">5 PM</div>
</div>
<a href="/home">
	<button class="cancel">Cancel</button>
</a>
