<ul class="menu">
	<li><a href="/measurement" class="btn btn-primary">
		<h3>New Measurement</h3>
		<p>Record a new measurement to your chart</p>
	</a></li>
	<li><a href="/charts" class="btn btn-default">
		<h3>View Charts</h3>
		<p>Look at your previous measurements and health trends</p>
	</a></li>
	<li><a href="/contact" class="btn btn-default">
		<h3>Contact Doctor</h3>
		<p>Record a video, voice, or text message and send it to your doctor</p>
	</a></li>
	<li><a href="/appointment-noupcoming" class="btn btn-default">
		<h3>Appointments</h3>
		<p>Review future appointments and schedule new ones</p>
	</a></li>
</ul>
<p>OKAY THING</p>
<progress value="22" max="100"></progress>