<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>PocketDoc</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

	<link rel="stylesheet" href="stylesheets/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="apple-touch-icon" href="/images/app/icon.png" />
	<link rel="apple-touch-icon-precomposed" href="/images/app/icon.png" />

	<link rel="apple-touch-startup-image" href="/images/app/startup.png">
</head>
<body>
	<div id="wrapper" class="container">

		<header>
			<section id="title">
				<h1>PocketDoc</h1>
				<nav>
					<a class="btn btn-default" href="/">Home</a>
					<a class="btn btn-default" href="#" disabled>Help</a>
				</nav>
			</section>
			<section id="location">
				<h2>{{title}}</h2>
			</section>
		</header>

		<main id="content-{{page}}">
			{{> part}}
		</main>

	</div>

	<script>
		// prevent scrolling
		document.ontouchmove = function(e) { 
		    e.preventDefault(); 
		};

		// prevent opening in a new page
		var a = document.getElementsByTagName("a");
		for (var i = 0; i < a.length; i++) {
			a[i].onclick = function() {
				window.location = this.getAttribute("href");
				return false;
			}
		}

		// Hides mobile browser's address bar when page is done loading.
		// window.addEventListener('load', function(e) {
		// 	setTimeout(function() {
		// 		window.scrollTo(0, 1);
		// 	}, 1);
		// }, false);
	</script>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
