<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>PocketDoc</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

	<link rel="stylesheet" href="stylesheets/project.css">

</head>
<body>

	<nav>
		<div id="logo-wrapper">
			<img src="images/app/icon.png">
			<h4>PocketDoc</h4>
		</div>
		<ul>
			<a href="#overview"><li>Project Overview</li></a>
			<a href="#team"><li>Team</li></a>
			<a href="#video"><li>Concept Video</li></a>
			<a href="#doc"><li>Documentation</li></a>
		</ul>
	</nav>
	<main>
		<h2 id="overview">Project Overview</h2>
			<img id="main-graphic" src="images/main.png">
			<p>
				<strong>PocketDoc</strong> allows you to connect with your doctor and perform checkups on your phone in comfort of your home!
			</p>

			<a id="try-now" href="/">
				<button type="button" class="btn btn-default btn-lg">
	  				Try Our Demo
				</button>
			</a>

			<p>
			Last year in the United States alone over eighteen million adults living outside of nursing homes and other assistance giving facilities reported they had trouble with mobility. For these people it can be stressful, time consuming, or even painful to go in for checkups with their doctors.  We created PocketDoc to help reduce the number of doctor visits these people need. 
			</p>

			<p>
				Schedule and view appointments online. No more phone tag. 
			</p>

			<p>
				Be the number one advocate for your health
				<ul>
					<li>Quickly record and send your health data to your doctor</li>
					<li>Unlimited access to your health information on your own time</li>
					<li>Graph readings and track your progress</li>
				</ul>
			</p>

			<p>
				Contact your doctor through video, voice or text.
			</p>	

		<h2 id="team">Team</h2>
			<div class="member">
				<img src="images/jordan.png">
				<h4>Jordan Heier</h4>
				<p>UW Senior, Computer Science</p>
				<a href="mailto:heierj@uw.edu">heierj@uw.edu</a>
			</div>
			<div class="member">
				<img src="images/michael.png">
				<h4>Michael Tang</h4>
				<p>UW Junior, Computer Science</p>
				<a href="mailto:tangmi@uw.edu">tangmi@uw.edu</a>
			</div>
			<div class="member">
				<img src="images/will.png">
				<h4>Will McNamara</h4>
				<p>UW Junior, Computer Science</p>
				<a href="mailto:gglover@uw.edu">gglover@uw.edu</a>
			</div>
			<div class="member">
				<img src="images/gus.png">
				<h4>Gus Glover</h4>
				<p>UW Junior, Computer Science</p>
				<a href="mailto:gglover@uw.edu">gglover@uw.edu</a>
			</div>

		<h2 id="video">Concept Video</h2>
			<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/	jj2oPchiXYw" allowfullscreen frameborder="0">
			</iframe>
			This video showcases a couple possible use cases of PocketDoc and shows some of our initial design sketches in action. Anthony is a representation of a typical user that we hope to serve.

		<h2 id="doc">Documentation</h2>
			<a href="/files/FinalProjectWriteup.pdf" download="PocketDoc.pdf">
				<button type="button" class="btn btn-default btn-lg">
  					<span class="glyphicon glyphicon-download"></span> Download the Full Report
				</button>
			</a>
	</main>
</body>
</html>
