@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600");

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	height: 100%;
	position: relative;
}

header {
	margin-bottom: 10px;

	#title {
		$font-size: 16px;
		// border-bottom: 1px solid gray;
		padding-top: 10px;

		h1 {
			display: inline-block;
			margin: 0;
			font-weight: normal;
			font-size: $font-size;
		}

		nav {
			float: right;
			display: inline-block;
			font-size: $font-size;
			margin-top: 5px;

			a {
			}

		}
	}

	#location {
		border-bottom: 1px solid gray;
		padding-bottom: 5px;

		h2 {
			font-weight: bold;
			font-size: 24px;
			margin: 0;
		}
	}
}

main {
	ul {
		&.menu {
			list-style: none;
			padding: 0;

			li {
				margin: 0 0 5px;

				a {
					display: inline-block;
					width: 100%;


					text-align: left;

					h3 {
						font-size: 1em;
						margin: 0;
						font-weight: bold;
					}

					p {
						margin: 0;
						font-size: 0.75em;
						white-space: normal;
					}
				}
			}
		}

		li {
			a {
			}
		}
	}

	.btn {
		font-size: 1.5em;
		display: block;
		margin: 5px;
	}

	.btn-cancel {
		position: absolute;
		right: 15px;
		bottom: 15px;
	}

	.calendar {

		h3 {
			text-align: center;
		}

		td {
			font-size: 2em;
			text-align: center;
			opacity: 0.5;

			&.gray {
				color: rgba(1, 1, 1, 0.5);
			}

			&.bg-info {
				opacity: 1;
				color: #428BCA;
			}

			&.open a {
				display: block;
				text-decoration: none;
				color: inherit;

				&:active {
					background: #428BCA;
					color: white;
				}
			}
		}
	}

	img {
		display: block;
		margin: 2px;
	}

	h3 {
		margin-top: 0;
	}

	&#content-appointment-picktime {


		.time-selection.open {
			
		}
	}
}